@import "~taro-ui/dist/style/components/input.scss";
@import "~taro-ui/dist/style/components/icon.scss";

.borrow{
    padding: 10px 28px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    // background-color: yellow;

    .search{
        width: 694px;
        height: 76px;
        margin: auto;
        background-color: rgb(240, 240, 240);
        border-radius: 50px;
        height: 70px;
        color: black;
        padding: 10px 100px;
        line-height: 70px;
    }
    .search-icon{
        position: relative;
        left: -260px;
    }
    .totleView{
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 10px 50px ;
        margin-top: 10px;

        Text{
            // padding: 10px 20px;
            width: 200px;
            height: 60px;
            line-height: 60px;
            padding: 10px 0;
            // font-size: 45px;
            text-align: center;
        }
    }

    .swiper{
        height: 100%;
        flex-direction: column;
    
    }
    .swiper-item{
        height: 100%;
        // background-color: yellow;
        .scroll-view{
            box-sizing: border-box;
            padding:20px 0;
            height: 100%;
        }
        .book-item{
            width: 650px;
            margin: 0 auto;
            // margin-top: 10px;
            margin-bottom: 20px;
            display: flex;
            justify-content: space-between;
            background-color: aqua;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    
    
            Image{
                width: 190px;
                height: 280px;
            }
            .book-right{
                width: 440px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }
        }
    }

}




