@import "~taro-ui/dist/style/components/button.scss";

page{
    background-color: #f9f9f9;
}

.appointDetail{
    padding: 0 28px;

    .top-ps{
        font-size: 20px;
        color: #657C85;
    }
    .content-view{
        width: 694px;
        padding: 40px 24px;
        background: #FFFFFF;
        border-radius: 16px;
        margin-top: 20px;
        .title{
            font-size: 36px;
            color: #233941;
        }
        .content{
            font-size: 28px;
            color: #233941;
            margin-top: 10px;
            padding-bottom: 64px;
        }
    }

    .message{
        padding-top: 40px;
        border-top: 1px solid lightgrey;
        view{
            font-size: 28px;
            color: #233941;
            display: flex;
            margin-top: 12px;
        }
    }
    .btn{
        margin-top: 64px;
        width: 360px;
        height: 88px;
        background: linear-gradient(270deg, #20C58D -16.56%, #64E9B0 115.94%);
        border-radius: 60px;
        border: none;
    }
}