.appointment{
    padding: 10px 28px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    // background-color: yellow;
    .totleView{
        display: flex;
        justify-content: space-around;

        Text{
            font-size: 4vw;
        }
    }

}

Swiper{
    height: 100%;
    flex-direction: column;
}
SwiperItem{
    height: 100%;
}


