.appointment{
    padding: 10px 28px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    // background-color: yellow;
    .totleView{
        width: 100%;
        // background-color: rgb(227, 226, 226);
        display: flex;
        justify-content: space-around;
        border-radius: 10vw;

        Text{
            font-size: 4vw;
        }
    }

}

Swiper{
    height: 100%;
    flex-direction: column;
}
SwiperItem{
    height: 100%;
}


