.online{
    padding: 0 28px;
    .online-title{
        font-family: 'ZiZhiQuXiMaiTi';
        font-style: normal;
        font-weight: 500;
        // font-size: 40px;
        font-size: 120%;
        color: #233941;
    }
    Video{
        margin-top: 60px;
        width: 100%;
        border-radius: 8px
        // height: 400px;
    }
}