@import "~taro-ui/dist/style/components/input.scss";
@import "~taro-ui/dist/style/components/icon.scss";

page{
    background-color: #f9f9f9;
}
.search-view{
    padding: 10px 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    // background-color: yellow;
    // padding-bottom: 40px;

    .search{
        position: absolute;
        width: 694px;
        left: 28px;
        top: 10px;
        background-color: rgb(240, 240, 240);
        margin: 0 auto;
        border-radius: 50px;
        height: 70px;
        color: black;
        padding: 10px 100px;
        line-height: 70px;
        z-index: 100;
    }
    .search-icon{
        position: relative;
        left: -480px;
    }

    .scroll-view{
        box-sizing: border-box;
        padding:20px 0;
        padding-top: 100px;
        height: 100%;
    }    
    
}



