@import "~taro-ui/dist/style/components/input.scss";
@import "~taro-ui/dist/style/components/icon.scss";

.search-view{
    padding: 10px 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    // background-color: yellow;

    .search{
        width: 660px;
        background-color: rgb(240, 240, 240);
        margin: 0 auto;
        border-radius: 50px;
        height: 70px;
        color: black;
        padding: 10px 100px;
        line-height: 70px;
    }
    .search-icon{
        position: relative;
        left: -460px;
    }

    .scroll-view{
        box-sizing: border-box;
        padding:20px 0;
        height: 100%;
    }    
    
}



