
.start-index{
    .logo{
        position: absolute;
        width: 190px;
        height: 154px;
        left: 280px;
        top: 322px;
    }
    .title{
        position: absolute;
        width: 222px;
        height: 58px;
        left: 268px;
        top: 512px; 
        text-align: center;
    }
    .content{
        position: absolute;
        width: 448px;
        height: 40px;
        left: 150px;
        top: 610px;
            
        /* regular/14 */
            
        font-family: 'PingFang SC';
        font-style: normal;
        font-weight: 400;
        font-size: 28px;
        line-height: 40px;
        /* identical to box height */
            
        text-align: center;
            
        /* font/2 */
            
        color: #435A62;
    }
}