// page{
//     background-color: rgb(0, 0, 0);
// }
.index{
    // padding: 2vw 3vw;
    padding-bottom: 20px;
    .index-back{
        width: 750px;
        height: 564px;
    }

    .chooseView{
        position: absolute;
        left: 3.73%;
        right: 3.73%;
        top: 480px;
        height: 360px;
        background: #FFFFFF;
        box-shadow: 0px 0px 40px rgba(174, 217, 198, 0.3);
        border-radius: 32px;
        display: flex;
        justify-content: space-between;
        padding: 25px;
        .index-hr{
            width:2px;
            height: 100%;
            background: #F2F3F5;;
        }
        .chooseItem{
            width: 48%;
            display: flex;
            flex-direction: column;
            align-items: center;
            Image{
                width: 220px;
                height: 190px;
            }
            view{
                text-align: center;
                // background-color: black;
            }
        }
        .choose-title{
            font-family: 'ZiZhiQuXiMaiTi';
            font-style: normal;
            font-weight: 500;
            font-size: 36px;
            line-height: 46px;
            margin-bottom: 10px;
            text-align: center;
            color: #233941;
        }
        .choose-text{
            font-size: 20px;
            color: #435A62;
        }


    }
    .recommend{
        margin: 300px 0 0 28px;
        font-size: 36px;
        line-height: 50px;
        color: #233941;
    }
    .recommend-view{
        width: 694px;
        margin: 20px auto 0 auto;
        background: #FFFFFF;
        box-shadow: 0px 2px 4px rgba(239, 245, 243, 0.4);
        border-radius: 8px; 
        display: flex;
        Image{
            width: 180px;
            height: 240px;
        }
        .recommend-right{
            padding: 40px 30px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .recommend-title{
                display: flex;
                align-items: center;

                text{
                    font-size: 32px;
                    color: #233941;
                }
                view{
                    margin-left: 10px;
                    padding: 3px 10px;
                    font-size: 20px;
                    line-height: 26px;
                    color: #20C58D;
                    flex: none;
                    order: 0;
                    flex-grow: 0;
                    border-radius: 0 15px 15px 18px;
                    border: 2px solid #20C58D;
                }
            }
            .recommend-info{
                font-size: 28px;
                color: #435A62;
                font-weight: 300;
            }
        }
    }
}
