@import "~taro-ui/dist/style/components/input.scss";
@import "~taro-ui/dist/style/components/button.scss";
@import "~taro-ui/dist/style/components/loading.scss";
.login{
    padding: 2vw 3vw;
    .back-left{
        position: absolute;
        width: 760px;
        height: 760px;
        left: -192px;
        top: -162px;
        border-radius: 380px;
        background: linear-gradient(204.24deg, rgba(159, 233, 200, 0.42) 16.86%, rgba(161, 233, 201, 0.06) 102.41%);
    }
    .input{
        border: 1px solid lightgrey;
        padding: 3vw 4vw;
        border-radius: 7vw;
        font-size: 4vw;
    }
    .btn{
        width: 60vw;
        font-size: 5vw;
        background-color: lightgreen;
        border: 0;
    }
}